
	<h2>User info</h2>
	<thead>
		<th><%= image_tag user.get_profile_image(100, 100) %></th>
	</thead>
  <table class= "table">
	<tbody>
		<tr>
			<th>name</th>
			<td><%= user.name %></td>
		</tr>
		<tr>
			<th>Introductionn</th>
			<td><%= user.introduction %></td>
		</tr>
		<tr></tr>
		</table>
			<th>
			<%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
			<span class="fas fa-user-cog"></span>
			<% end %>
			</th>
		</tr>
		
	</tbody>
