<% if model.errors.any? %>
 <div class="error">
 	<h3><%= model.errors.count %> errors prohibited this obj from being saved</h3>
 	<ul>
 		<% model.errors.full_massages.each do |message|%>
 		<li class="error-message"><%= massage %></li>
 		<% end %>
 	</ul>
 </div>
<% end %>