<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<%= @books.each do |book| %>
<%= book.user.name %> 
<% end %>

<%= link_to book_path(book) do %>
<% end %>

<%= link_to user_path(book.user.id) do %>
<% end %>